.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 100%;
    margin: auto;
    min-height: 300px;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    margin-bottom: 20px;
}
.form-row select,
.form-row input[type="date"],
.form-row button {
    flex: 1 1 22%;
    min-width: 150px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 1rem;
    box-sizing: border-box;
}

.form-row select:focus,
.form-row input[type="date"]:focus {
    outline: none;
    border-color: #007bff;
    background-color: #fff;
}

button.btn {
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    border-radius: 5px;
}

button.btn:hover {
    background-color: #0056b3;
}

.filtered-data {
    margin-top: 20px;
}

.filtered-data .data-item {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.filtered-data p {
    font-size: 1.1rem;
    color: #333;
}

@media (max-width: 768px) {
    .form-row select,
    .form-row input[type="date"],
    .form-row button {
        flex: 1 1 48%;
    }

    .filtered-data .data-item {
        font-size: 0.9rem;
    }
}

.custom-card {
    width: 100%;
    border-radius: 10px;
    text-align: center;
}

.user, .med {
    display: flex;
    align-items: center;
}
.user img, .med img {
    width: 35px;
    height: auto;
}

.med {
    margin-top: 40px;
}
.green {
    background-color: #198754;
    color: #fff;
}
.yellow {
    background-color: #ffc107;
    color: #fff;
}
